<a-scene id="ascene" xrextras-tap-recenter landing-page xrextras-loading xrextras-runtime-error
  xrextras-gesture-detector xrweb xrconfig="allowedDevices: any;">

  <a-entity light="type:directional; castShadow:true; color:white; intensity:3.5" position="5 10 7"></a-entity>
  
  <a-assets>
    <a-assets-item id="zapa" src="zapa.glb"></a-assets-item>
  </a-assets>

  <a-camera position="0 2 2"></a-camera>

  <a-entity gltf-model="#zapa" scale="3 3 3" position="0 0 0"></a-entity>

  <a-plane height="2000" width="2000" rotation="-90 0 0" material="shader: shadow; opacity: 0.67" shadow></a-plane>

</a-scene>